<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  </head>
  <body>
    <!-- <h1>Part 1: Recent 20</h1> -->
    <div class='jumbotron' style="text-align:center;">
      <h1><%= title %></h1>
      <p>Below is the results for the first part of the challenge. I got the 20 most recent posts from Instagram where the caption included #CapitalOne. Those posts were displayed along with information about the user including how many posts they have, how many followers they have, and how many users they follow. I also plugged in the contents into AlchemyAPI to get back a sentiment analysis of the caption. Some of these requests failed because the API could not properly identify the language being used.</p>
      <a href="/chart"><h2>Click here to see the trends in sentiment of these posts over time</h2></a>
    </div>
    <div class="container" id="twenty">
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="javascripts/script.js"></script>
    </script>
  </body>
</html>
